*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#imagem section{
    height: 70vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

#texto section{
    height: 30vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}